.table-a11y {
  width: 100%;
}
.table-a11y caption {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
.table-a11y thead,
.table-a11y tbody,
.table-a11y tfoot {
  width: 100%;
}
.table-a11y tr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
@media (min-width: 768px) {
  .table-a11y tr {
    flex-direction: row;
  }
}
.table-a11y th, .table-a11y td {
  word-break: break-all;
}

.table-design {
  font-size: 14px;
  margin: 0 auto;
}
.table-design thead {
  background: #333;
  color: #fff;
}
.table-design thead th {
  padding: 15px 10px;
  text-align: left;
}
.table-design tbody tr {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}
.table-design tbody th {
  font-weight: normal;
}
.table-design tbody th, .table-design tbody td {
  padding: 12px 10px;
}
@media (max-width: 767px) {
  .table-design tbody th, .table-design tbody td {
    display: flex;
  }
}
.table-design tbody .col-header {
  flex: 0 0 140px;
  width: 140px;
  padding: 12px 10px;
  margin: -12px 10px -12px -10px;
  background: #333;
  color: #fff;
}

/* MOBILE MODE */
@media (max-width: 767px) {
  .table-design {

  }
  .table-design thead {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
  }
}
/* TABLET MODE */
@media (min-width: 768px) {
  .table-design {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  }
  .table-design tbody tr {
    background: none;
    box-shadow: none;
    margin-bottom: 0;
  }
  .table-design tbody tr:hover {
    background: #e5f5fa;
  }
  .table-design thead th, .table-design thead td, .table-design tbody th, .table-design tbody td {
    width: 20%;
  }
  .table-design tbody .col-header {
    display: none;
  }
}
